<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FrontEnd BETA 1.00</title>
	<link rel="stylesheet" href=" /stylesheets/style.css">


</head>
<body>
	
	<p><label id="tit">todavia nada</label> </p>
		<!-- Social -->
	<div id="form">
		
	</div>
	<div >

	</div>
	<script type="text/javascript" src="javascripts/canvas.js"></script>
	<script>
			function addLoadEvent(func) {  
				  var oldonload = window.onload;  
				  if (typeof window.onload != 'function') {  
					window.onload = func;  
				  } else {  
					window.onload = function() {  
					  if (oldonload) {  
						oldonload();  
					  }  
					  func();  
					}  
				  }  
			}  	
			addLoadEvent(function() { 
				document.getElementById('tit').innerHTML = document.cookie;
			});  
	</script>
	
</body>
</html>