<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FrontEnd BETA 1.0</title>
	<link rel="stylesheet" href=" /stylesheets/style.css">


</head>
<body>
	<canvas id="canv"></canvas>
	<p><label id="tit"value=""></label> </p>
		<!-- Social -->
	<div id="form">
		
		<input name ="inn" type="text" placeholder="buscar"ondblclick=""onclick="toggleSearchForm();"value="">
	</div>
	<div >
		<a href="https://mi_email.com/" target="_blank"></a>
		<i class="fa fa-address-card fa-3x" aria-hidden="true"></i>
	</div>

	<script type="text/javascript" src="javascripts/materia.js"></script>
</body>
</html>